body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
  font-size: x-large;
  color: white;
  background-image: url("images/green-leafed-plant.jpeg");
  background-position: fixed;
  background-size: contain;
}
header {
  display: flex;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 3rem;
  align-items: center;
  border-bottom: 2px solid white;
}
.search {
  display: flex;
  justify-content: flex-end;
  margin: 5rem;
  margin-right: 0;
  align-items: flex-start;
}
#search {
  height: 2.1rem;
}
#icon {
  height: 2rem;
  border: 1px solid black;
}
h1 {
  font-family: Gurmukhi MN;
  font-size: 5rem;
  text-align: left;
  flex: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-bottom: 3rem;
}
nav a {
  color: white;
  font-weight: bold;
}
main {
  background-color: rgb(232, 237, 220);
  width: 70%;
  margin: 10rem;
  margin-top: 0;
  height: fit-content;
  padding: 5rem;
  color: black;
  border-radius: 2%;
}
h2,
h3 {
  text-align: center;
}
.description {
  display: flex;
  justify-content: space-between;
  margin: 5rem;
}
.info {
  font-style: italic;
  line-height: 1;
  margin-left: 5rem;
}
.ingredients {
  font-weight: bold;
  margin: 3rem 0 0 5rem;
}
ul,
.instructions {
  border-bottom: solid 2px black;
  margin-left: 5rem;
  padding-bottom: 2rem;
}
li {
  line-height: 1.5;
}

#crostini {
  width: 50%;
  margin-right: 3rem;
}
.recommendations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5rem;
  padding-bottom: 5rem;
  border-bottom: solid 2px black;
}

.pics img {
  height: auto;
  width: 15rem;
}
.name {
  text-align: center;
  margin-top: 3rem;
  width: 15rem;
}
.name a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
.name a:hover {
  color: rgb(233, 151, 42);
}

#post-review {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  border-bottom: solid 2px black;
}

#comment {
  width: 40rem;
  height: 20rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
}

.rating {
  margin-bottom: 2rem;
}
.user-info > input {
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: left;
  margin: 1rem;
}

#post-comment {
  margin: 2rem;
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  border-style: outset;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(249, 249, 217);
}

.date {
  font-size: 1rem;
  color: rgb(160, 160, 160);
}

.rating > span:hover {
  color: rgb(252, 209, 93);
  cursor: pointer;
}

.colored {
  color: rgb(252, 209, 93);
}
.p1-font {
  font-size: 1.3rem;
  font-style: italic;
  border-bottom: solid 1px black;
  display: block;
  padding-bottom: 2rem;
}
